.createVenueForm {
    width: 70%;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: var(--primary-faded-color);
    border-radius: 0 20px 0 0;
}

.createVenueForm input {
    background-color: white;
}

.input {
    background-color: white;
}

h1 {
    text-align: center;
}

.mediaMessage {
    margin-bottom: 45px;
}

.mediaMessage p {
    margin-top: 5px;
    float: right;
}

.postButton {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    float: right;
    min-width: 180px;
    border: 0;
    border-radius: 8px;
}

.postButton:hover {
    background-color: green;
}


@media screen and (max-width: 1000px) {
    .createVenueForm {
        width: 100%;
    }

}