.registerContainer {
    background-color: var(--primary-faded-color);
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 25px 40px;
    border-radius: 0 20px 0 0;
}

h1 {
    padding-bottom: 20px;
}

form div {
    padding-bottom: 20px;
}

form div span {
    font-style: italic;
    font-weight: 300;
    color: red;
}

.input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--primary-faded-color);
    color: #797c82;
}

.formBtn {
    border: none;
    color: white;
    background-color: var(--primary-color);
    padding: 10px 35px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.formBtn:hover {
    background-color: var(--primary-hover-color);
}

.checkContainer {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 0;
}

.checkLabel {
    display: inline;
    margin: 0 auto;
}

.checkbox {
    height: 23px;
    width: 23px;
    margin: 0 10px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1000px) {
    .registerContainer {
        width: 90%;
        padding: 15px 20px;
    }

    .checkContainer {
        width: 100%;
        display: block;
    }

    .checkLabel {
        width: 100%;
    }

    .checkbox {
        height: 23px;
        width: 23px;
        position: relative;
        top: 4px;
    }
}