.info {
    background-color: var(--primary-faded-color);
    width: 800px;
    max-width: 90%;
    margin: 40px auto;
    border-radius: 0 20px 0 20px;
}

.heading {
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.362);
    width: 100%;
    padding: 10px 20px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
}

.h2 {
    text-align: left;
    margin-bottom: 0;
}

.destination {
    margin-bottom: 0;
}

.updateOptions * {
    margin: 5px;
}

.editbutton {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    padding: 6px 26px;
    border-radius: 8px;
    text-decoration: none;
}

.editbutton:hover {
    color: white;
    background-color: var(--primary-hover-color);
}

.deletebutton {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    padding: 4px 30px;
    border-radius: 8px;
    margin-bottom: 0px;
}

.deletebutton:hover {
    background-color: var(--primary-hover-color);
}

.inline {
    padding: 20px;
    display: flex;
}

.locationInfo {
    font-style: italic;
}

.block {
    flex: 70%;
    padding-right: 20px;
}

.carousel img {
    height: 300px;
}

.venueImg {
    display: block;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.facilities {
    text-align: center;
    flex: 30%;
}

.facilities p {
    margin-top: -5px;
}

.descContainer {
    margin: 20px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.362);
    border-top: 1px solid rgba(0, 0, 0, 0.362);
}

.descContainer h5 {
    margin-top: 20px;
}

.des {
    font-size: 1.1rem;

}

.availabilityContainer {
    display: flex;
    padding: 0 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.availabilityHeading {
    text-align: center;
}

.availability {
    padding-bottom: 20px;
    padding-right: 20px;
    flex: 70%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid rgba(0, 0, 0, 0.362);
}

.datepicker {
    padding-bottom: 10px;
}

.datepicker h4 {
    margin-bottom: 0;
}

.datepicker input {
    text-align: center;
}

.dateWidth {
    width: 220px;
}

.priceInfo {
    flex: 30%;
    text-align: right;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 120px;
}

.venueBtn {
    width: 75%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: var(--primary-color);
    padding: 8px 18px;
    border-radius: 7px;
    font-size: 1rem;
}

.venueBtn:hover {
    background-color: green;
}

.deleteContainer {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.deleteButtons {
    display: flex;
    margin: 0 auto;
    gap: 3rem;
}

.deleteButtons button {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
}

.deleteButtons button:hover {
    background-color: var(--primary-hover-color);
}

.bookingsContainer {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin: 20px;
    border-radius: 0 19px;
    padding: 20px;
    background-color: var(--primary-faded-color);
}

.h5bookings {
    padding-left: 20px;
    padding-bottom: 0;
}

.inlineBooking * {
    display: inline;
}

.inlineBookingBottom {
    padding-bottom: 5px;
}

.greyBooking {
    color: var(--primary-hover-color);
}

.facilitiesMediaq {
    display: none;
}

.facilitiesBigscreen {
    display: flex;
    flex: 30%;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    text-align: left;
    border-right: 1px solid black;
    margin-right: 20px;
}

@media screen and (max-width: 1000px) {
    .info {
        margin: 20px auto;
        margin-bottom: 60px;
    }

    .carousel img {
        height: 200px;
        max-width: 70%;
        margin: 0 auto;
    }

    .inline {
        display: block;
    }

    .heading {
        padding: 10px 20px;
        width: 100%;
        display: block;
    }

    .updateOptions * {
        margin: 6px 0;
    }

    .block {
        padding: 0;
    }

    .descContainer {
        border-top: none;
    }

    .descContainer h5 {
        margin-top: 0;
    }

    .facilities {
        padding: 20px;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.362);
        border-bottom: 1px solid rgba(0, 0, 0, 0.362);
        border-left: none;
        width: 100%;
        margin: 0 auto;
    }

    .facilities p {
        margin-bottom: 0.3rem;
    }

    .locationInfo p {
        padding: 0;
        margin-bottom: 15px;
    }

    .carousel img {
        padding-bottom: 20px;
    }

    .availabilityContainer {
        display: flex;
        flex-direction: column;
    }

    .availability {
        display: block;
        flex: 50%;
        border-right: none;
    }

    .priceInfo {
        text-align: center;
        flex-direction: column;
        flex: 50%;
    }

    .venueImg {
        margin-bottom: 20px;
    }

    .venueBtn {
        width: 75%;
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
    }

    .editbutton {
        padding: 5px 30px;
    }


    .deletebutton {
        padding: 3px 21px;
    }

    .bookingsContainer {
        width: 90%;
    }

    .facilitiesBigscreen {
        display: none;
        visibility: hidden;
    }

    .facilitiesMediaq {
        display: block;
        padding-top: 20px;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.362);
        border-bottom: 1px solid rgba(0, 0, 0, 0.362);
        border-left: none;
        width: 100%;
        margin: 0 auto;
    }
}