.updateVenueForm {
    width: 70%;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: var(--primary-faded-color);
    border-radius: 0 20px 0 0;
}

.updateVenueForm input {
    background-color: white;
}

.input {
    background-color: white;
}

.mediaMessage {
    margin-bottom: 45px;
}

.mediaMessage p {
    margin-top: 5px;
    float: right;
}

.italic {
    font-style: italic;
    padding-bottom: 20px;
}

.updateButton {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    float: right;
    min-width: 180px;
    border: 0;
    border-radius: 8px;
}

.updateButton:hover {
    background-color: green;
}

@media screen and (max-width: 1000px) {
    .updateVenueForm {
        width: 100%;
    }

}