html {
  font-family: 'Maven Pro', sans-serif;
}

:root {
  --primary-color: #FF5A5F;
  --primary-hover-color: #b13e42;
  --primary-faded-color: #ff5a602b;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  text-decoration: none;
  color: var(--primary-color);
  font-size: x-large;
  font-weight: bold;
  vertical-align: middle;
}

.home:hover {
  color: var(--primary-color);
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px lightgrey solid;
}

nav {
  display: flex;
  margin: 0;
  align-items: center;
  z-index: 9;
}

.navbar a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.navbar a:hover {
  color: var(--primary-hover-color);
}

.navbar-collapse {
  background-color: white;
}

.loginBtn {
  border: none;
  color: black;
  background-color: white;
}

.loginBtn:hover {
  color: var(--primary-hover-color);
}

.navbar-toggler {
  position: relative;
  top: -12px;
  left: 10px;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}

.footerText {
  color: #ffffff;
  font-size: 1.2rem;
  padding-top: 20px;
}

.registerMobile {
  display: none;
}

.errorDiv {
  padding: 20px;
}

.errorDiv a {
  color: blue;
}

.logInError {
  text-decoration: underline;
  padding: 0;
  border: 0;
  background-color: white;
  color: blue;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 10px 20px;
    height: auto;
  }

  .logo {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }

  .registerMobile {
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    text-decoration: none;
    color: black;
    font-size: large;
  }

  .registerMobile:hover {
    color: white;
    background-color: var(--primary-hover-color);
  }

  body {
    padding-bottom: 60px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 303px;
    top: 15px!important;
    opacity: 0.9!important;
    width: 23%!important;
  }

  .carousel-control-prev-icon, 
  .carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
  }
}